codigo node red.txt
[{"id":"52541ff2.ad846","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"53c83e5a.52d29","type":"ui_switch","z":"52541ff2.ad846","name":"","label":"Foco Habitaci贸n 3","tooltip":"","group":"5370e1c5.dbd5","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":310,"y":200,"wires":[["3abfbdf9.7c9a82"]]},{"id":"3abfbdf9.7c9a82","type":"rpi-gpio out","z":"52541ff2.ad846","name":"","pin":"40","set":true,"level":"0","freq":"","out":"out","x":570,"y":200,"wires":[]},{"id":"807e3b4a.7fbe88","type":"ui_switch","z":"52541ff2.ad846","name":"","label":"Foco Habitaci贸n 2","tooltip":"","group":"5370e1c5.dbd5","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":310,"y":260,"wires":[["e04d8145.0e3ea"]]},{"id":"e04d8145.0e3ea","type":"rpi-gpio out","z":"52541ff2.ad846","name":"","pin":"38","set":true,"level":"0","freq":"","out":"out","x":580,"y":260,"wires":[]},{"id":"27d2946b.ab61ec","type":"ui_switch","z":"52541ff2.ad846","name":"","label":"Foco Habitaci贸n 1","tooltip":"","group":"5370e1c5.dbd5","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":320,"y":340,"wires":[["39c82224.b175fe"]]},{"id":"a3e1c109.87936","type":"ui_switch","z":"52541ff2.ad846","name":"","label":"Foco sala","tooltip":"","group":"5370e1c5.dbd5","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":290,"y":400,"wires":[["2696117b.9d975e"]]},{"id":"5741b03.88a485","type":"ui_switch","z":"52541ff2.ad846","name":"","label":"Foco cocina-comedor","tooltip":"","group":"5370e1c5.dbd5","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":340,"y":460,"wires":[["f0209ee9.252b5"]]},{"id":"39c82224.b175fe","type":"rpi-gpio out","z":"52541ff2.ad846","name":"","pin":"36","set":true,"level":"0","freq":"","out":"out","x":580,"y":340,"wires":[]},{"id":"2696117b.9d975e","type":"rpi-gpio out","z":"52541ff2.ad846","name":"","pin":"32","set":true,"level":"0","freq":"","out":"out","x":580,"y":400,"wires":[]},{"id":"f0209ee9.252b5","type":"rpi-gpio out","z":"52541ff2.ad846","name":"","pin":"24","set":true,"level":"0","freq":"","out":"out","x":580,"y":460,"wires":[]},{"id":"3652b5ec.ed6b5a","type":"inject","z":"52541ff2.ad846","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":860,"wires":[["d5fa3b5b.95b0d8"]]},{"id":"f6b89527.9e4d48","type":"debug","z":"52541ff2.ad846","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":860,"wires":[]},{"id":"d5fa3b5b.95b0d8","type":"rpi-dht22","z":"52541ff2.ad846","name":"DHT11","topic":"rpi-dht22","dht":"11","pintype":"0","pin":"2","x":490,"y":860,"wires":[["f6b89527.9e4d48","5d3ff927.0f0d78","52e02d50.a91ae4"]]},{"id":"98ce7711.fe5cf8","type":"debug","z":"52541ff2.ad846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":980,"wires":[]},{"id":"56c7cf9e.a813a","type":"debug","z":"52541ff2.ad846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":1040,"wires":[]},{"id":"5d3ff927.0f0d78","type":"function","z":"52541ff2.ad846","name":"temperatura","func":"msg.payload = msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":980,"wires":[["98ce7711.fe5cf8","4d47b4dc.73d3cc"]]},{"id":"52e02d50.a91ae4","type":"function","z":"52541ff2.ad846","name":"humedad","func":"msg.payload = msg.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1060,"wires":[["56c7cf9e.a813a","53c04fa2.ea8cf"]]},{"id":"4d47b4dc.73d3cc","type":"ui_gauge","z":"52541ff2.ad846","name":"","group":"93d2f6f0.690318","order":6,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"grados Celsius","format":"{{value}}","min":0,"max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":730,"y":940,"wires":[]},{"id":"53c04fa2.ea8cf","type":"ui_gauge","z":"52541ff2.ad846","name":"","group":"93d2f6f0.690318","order":1,"width":0,"height":0,"gtype":"gage","title":"Humedad","label":"porciento","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":680,"y":1100,"wires":[]},{"id":"66efdb83.f662a4","type":"rpi-gpio in","z":"52541ff2.ad846","name":"sensor llama","pin":"12","intype":"tri","debounce":"25","read":false,"x":260,"y":1340,"wires":[["d5f37bf4.393478"]]},{"id":"d5f37bf4.393478","type":"Invert","z":"52541ff2.ad846","name":"Invert","x":430,"y":1340,"wires":[["935c12ef.80f6a","2d3a53d8.5cfddc"]]},{"id":"7b980c55.e7e254","type":"rpi-gpio out","z":"52541ff2.ad846","name":"","pin":"11","set":true,"level":"0","freq":"","out":"out","x":610,"y":1340,"wires":[]},{"id":"935c12ef.80f6a","type":"change","z":"52541ff2.ad846","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"encendido","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"apagado","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1260,"wires":[["591717be.5001d8"]]},{"id":"591717be.5001d8","type":"change","z":"52541ff2.ad846","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"encendido","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"apagado","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1260,"wires":[["6b350fee.f4738"]]},{"id":"6b350fee.f4738","type":"ui_text","z":"52541ff2.ad846","group":"95f2b659.119c78","order":2,"width":0,"height":0,"name":"","label":"Sensor de llama","format":"{{msg.payload}}","layout":"row-spread","className":"","x":970,"y":1280,"wires":[]},{"id":"bc7378ea.b3e688","type":"rpi-gpio in","z":"52541ff2.ad846","name":"sensor de gas","pin":"10","intype":"tri","debounce":"25","read":false,"x":270,"y":1420,"wires":[["263563ae.081acc"]]},{"id":"263563ae.081acc","type":"Invert","z":"52541ff2.ad846","name":"Invert","x":430,"y":1420,"wires":[["7b11ea04.e2a974","2d3a53d8.5cfddc"]]},{"id":"7b11ea04.e2a974","type":"change","z":"52541ff2.ad846","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"encendido","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"apagado","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1440,"wires":[["7ff90fdd.2de4f"]]},{"id":"7ff90fdd.2de4f","type":"change","z":"52541ff2.ad846","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"encendido","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"apagado","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1440,"wires":[["15395824.8e45c8"]]},{"id":"15395824.8e45c8","type":"ui_text","z":"52541ff2.ad846","group":"95f2b659.119c78","order":2,"width":0,"height":0,"name":"","label":"Sensor de gas","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1000,"y":1440,"wires":[]},{"id":"a518f46d.1ea5b8","type":"rpi-gpio in","z":"52541ff2.ad846","name":"sensor de iluminacion","pin":"8","intype":"tri","debounce":"25","read":false,"x":220,"y":1520,"wires":[["30a93515.5af1ba"]]},{"id":"30a93515.5af1ba","type":"Invert","z":"52541ff2.ad846","name":"Invert","x":430,"y":1520,"wires":[["960c5407.e5b2f8"]]},{"id":"960c5407.e5b2f8","type":"change","z":"52541ff2.ad846","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"encendido","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"apagado","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1540,"wires":[["20f3b30d.8c0f1c"]]},{"id":"20f3b30d.8c0f1c","type":"change","z":"52541ff2.ad846","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"encendido","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"apagado","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1540,"wires":[["5f6f0bd3.c20044"]]},{"id":"5f6f0bd3.c20044","type":"ui_text","z":"52541ff2.ad846","group":"95f2b659.119c78","order":2,"width":0,"height":0,"name":"","label":"Sensor de iluminaci贸n","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1020,"y":1540,"wires":[]},{"id":"17c4024d.f2f2be","type":"rpi-gpio in","z":"52541ff2.ad846","name":"sensor de humedad","pin":"7","intype":"tri","debounce":"25","read":false,"x":230,"y":1620,"wires":[["f3a16883.8d7428"]]},{"id":"9f38c192.d93da","type":"change","z":"52541ff2.ad846","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"necesita agua","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"planta regada","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1620,"wires":[["6be0680f.880e78"]]},{"id":"6be0680f.880e78","type":"ui_text","z":"52541ff2.ad846","group":"95f2b659.119c78","order":2,"width":0,"height":0,"name":"","label":"Sensor de humedad","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1020,"y":1620,"wires":[]},{"id":"a28912ce.0069e","type":"rpi-srf","z":"52541ff2.ad846","name":"","topic":"SRF","pulse":"0.5","pins":"16,18","precision":"0","x":210,"y":1720,"wires":[["3452e35b.7e4e4c","4b33bb12.80a8d4"]]},{"id":"f3a16883.8d7428","type":"change","z":"52541ff2.ad846","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"necesita agua","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"planta regada","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1620,"wires":[["9f38c192.d93da"]]},{"id":"2d1f6e1d.093bc2","type":"ui_gauge","z":"52541ff2.ad846","name":"","group":"5116882.e5b0678","order":0,"width":0,"height":0,"gtype":"gage","title":"Distancia en la entrada","label":"cm","format":"{{value}}","min":0,"max":"50","colors":["#b31b00","#e6e600","#59cb3a"],"seg1":"","seg2":"","className":"","x":660,"y":1720,"wires":[]},{"id":"3452e35b.7e4e4c","type":"function","z":"52541ff2.ad846","name":"temperatura","func":"msg.payload = msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":1720,"wires":[["2d1f6e1d.093bc2"]]},{"id":"c6ba69d8.84bc08","type":"ui_switch","z":"52541ff2.ad846","name":"","label":"alarma","tooltip":"","group":"80f51a29.77b858","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":290,"y":660,"wires":[["f9f7eebf.491f1"]]},{"id":"f9f7eebf.491f1","type":"rpi-gpio out","z":"52541ff2.ad846","name":"","pin":"11","set":true,"level":"0","freq":"","out":"out","x":600,"y":660,"wires":[]},{"id":"649ef0f3.22b6a","type":"ui_switch","z":"52541ff2.ad846","name":"","label":"Foco garaje","tooltip":"","group":"5370e1c5.dbd5","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":310,"y":520,"wires":[["685c1dec.31d144"]]},{"id":"685c1dec.31d144","type":"rpi-gpio out","z":"52541ff2.ad846","name":"","pin":"26","set":true,"level":"0","freq":"","out":"out","x":580,"y":520,"wires":[]},{"id":"4b33bb12.80a8d4","type":"range","z":"52541ff2.ad846","minin":"80","maxin":"1","minout":"0","maxout":"1","action":"roll","round":true,"property":"payload","name":"rango","x":500,"y":1800,"wires":[["2d3a53d8.5cfddc"]]},{"id":"2d3a53d8.5cfddc","type":"BooleanLogic","z":"52541ff2.ad846","name":"","operation":"OR","inputCount":"3","topic":"1","x":670,"y":1800,"wires":[["7b980c55.e7e254"]]},{"id":"5370e1c5.dbd5","type":"ui_group","name":"Focos","tab":"ff685796.521e78","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"93d2f6f0.690318","type":"ui_group","name":"Humedad y Temperatura","tab":"131aced9.f65221","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"95f2b659.119c78","type":"ui_group","name":"Sensores","tab":"816d6661.f74518","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"5116882.e5b0678","type":"ui_group","name":"Sensor de distancia en la entrada","tab":"131aced9.f65221","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"80f51a29.77b858","type":"ui_group","name":"alarma","tab":"ff685796.521e78","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"ff685796.521e78","type":"ui_tab","name":"Actuadores de salida","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"131aced9.f65221","type":"ui_tab","name":"Temperatura y distancia","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"816d6661.f74518","type":"ui_tab","name":"Actuadores de Entrada","icon":"dashboard","order":3,"disabled":false,"hidden":false}]